<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grid 레이아웃</title>
  <link rel="stylesheet" href="grid.css">
</head>
<body>
  <div class="container">
    <div class="box1">박스</div>
    <div class="box2">박스</div>
    <div class="box3">박스</div>
    <div class="box4">박스</div>
    <div class="box5">박스</div>
    <div class="box6">박스</div>
    <div class="box7">박스</div>
    <div class="box8">박스</div>
    <div class="box9">박스</div>
    <div class="box10">박스</div>
  </div>
  
</body>
</html>